<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Website</title>
    <link rel="stylesheet" href="/View/style.css" type="text/css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  </head>
  <body>
    <main>
        <div id="formDiv">
            <form id="form">
                <label for="Fname">First Name</label>
                <input type="text" id="Fname" />

                <label for="Lname">Last Name</label>
                <input type="text" id="Lname" />

                <label for="Dob">Date of Birth</label>
                <input type="text" id="Dob" />

                <button type="submit" onclick="submit()" id="btn">Submit</button>
            </form>
        </div> 
    </main>
    <script src="/View/index.js"></script>

    
  </body>
</html>
